{% extends "base.html" %}

{% block style%}
a:link, a:visited, a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: grey;
  background-color: transparent;
  text-decoration: underline;
}
{% endblock %}

{% block content %}
<div class="d-lg-flex half">
<div class="bg order-1 order-md-2" style="background-image: url('/static/p_locker.jpg');"></div>
<div class="contents order-2 order-md-1">
<div class="container">
<div class="row align-items-center justify-content-center">
<div class="col-md-7">
<h3>Parcel ID [{{ id }}]:</h3>
<p class="mb-4">Parcels Data</p>
<br/>
   <div class="form-group first">
    <img src="/static/parcel.png" width="150" height="75"/>
        <br/>
        <br/>
    <label>Size: {{ size }}</label>
        <br/>
    <label>Sender: {{ sender }}</label>
        <br/>
    <label>Status: &nbsp;<b><i>
        {% if status %}
        Delivered at: {{ open_datetime }}
        {% elif locker is None %}
        On the way
        {% else %}
        In locker
        {% endif %}
        </i></b></label>
    </div>
    <br/><hr/>
    <br/>
    {% if locker is not None and status is False %}
    <form action="/parcel/{{id}}" method="post">
    <input type="hidden" name="parcel_id" value="{{id}}">
    <input type="submit" value="Receive parcel" class="btn btn-block btn-primary">
    </form>
    <br/>
    {% endif %}
    <button class="btn btn-block btn-primary"><a href="/parcel/">Back to Parcels</a></button>
</div>
</div>
</div>
</div>
</div>
{% endblock %}

{% block script %}
{% endblock %}

